<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/style.css')}}">
 	<title>MonitoringScreen</title>
	<meta charset="utf-8" />
</head>

<body> 
	<h1 align="middle">Monitoring screen</h1>

	<h2 align="middle">Users usage: </h2>
	<p class="connected" align="middle">Currently connected users : {{ (imageList|length)//2 }}</p>
	<br>
	<div class="chart">	
		{% for image in imageList %}
		<img src="{{url_for('static', filename=image)}}" align="middle" />
		{% endfor %}
	</div>
	</div>
</body>
</html>
